.container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 38vh;
  padding-bottom: 2rem;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.quote {
  font-size: x-large;
  height: 70%;
  overflow-y: scroll;
  scrollbar-color: #e0bb3f transparent;
  color: #e0bb3f;
}

.quote-ref {
  text-decoration: none;
  color: #ae8b19;
  font-size: larger;
  text-decoration: underline;
}

.quote-ref p {
  text-align: center;
}

.quote-ref:hover {
  color: #ae8b19;
}

.fade-in {
  animation: fadeIn 2s;
  position: sticky;
  position: -webkit-sticky;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
}

@media screen and (max-width: 800px) {
  .container {
    width: 65vw;
  }

  .quote {
    font-size: large;
  }

  .quote-ref {
    font-size: medium;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200) {

  .quote {
    font-size: large;
  }

  .quote-ref {
    font-size: medium;
  }
}
