.container {
    width: 110%;
    height: 33vh;
    padding-bottom: 2rem;

}

.quote-container {
    border-radius: 0.5rem;
    scrollbar-color: #e0bb3f  transparent;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: x-large;
    height: 15vh;
    overflow-y: scroll;
}

.quote-ref {
    text-decoration: none;
    color: #e0bb3f;
    font-size: large;
}

.quote-ref:hover {
    color: #ae8b19;
}

.fade-in {
    animation: fadeIn 2s;
    position: sticky;
    position: -webkit-sticky;   
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    .container {
        width: 200%;
    }

    .quote {
        font-size: medium;
    }
    
    .quote-ref {
        font-size: small;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200) {
    .container {
        width: 180%;
    }

    .quote {
        font-size: large;
    }
    
    .quote-ref {
        font-size: medium;
    }
  }