@font-face {
  font-family: "ArabicType";
  src: url("fonts/Mirza-Medium.ttf");
  unicode-range: U+0600-06FF;
}

html,
body {
  padding: 0;
  margin: 0;
  position: "relative";
  overflow-y: scroll;
  background-color: #1c1917; /*stone-900*/
}

.no-scroll-bar {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.no-scroll-bar::-webkit-scrollbar {
  display: none !important;
  width: 0;
  height: 0;
}

#root {
  background-color: #1c1917; /*stone-900*/
  font-family: "ArabicType", "Cormorant Garamond", cursive;
  height: 100vh;
  height: 100%;
  width: 100vw;
}

a {
  /* text-decoration: none; */
  color: #e0bb3f;
}

a:hover {
  color: #fbbf24;
  transition: 0.3s;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  /* max-width: 80vw; */
  color: #ceaa37;
  margin: auto;
  padding: 1.6%;
  /* min-height: calc(100vh - 18%); */
}

.title {
  font-size: xx-large;
  font-weight: bolder;
  color: #fbbf24;
}

.subtitle {
  font-size: x-large;
  font-weight: bold;
  color: #e0bb3f;
}

.home img {
  width: 15vw;
}

@media screen and (max-width: 768px) {
  .language-btn {
    font-size: small;
  }

  .active-language-btn {
    font-size: small;
  }

  .home img {
    width: 80%;
  }

  .title {
    font-size: large;
  }

  .subtitle {
    font-size: medium;
  }
}
