body {
  background-color: #110c11;
  font-family: 'Gideon Roman', cursive;
  /* font-family: "Cutive Mono", monospace; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 4px solid #ceaa37; */
  height: 90vh;
}

.frame {
  flex: 1 1 auto;
  width: 40vw;
  height: 100%;
  color: #ceaa37;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: larger;
  font-weight: bolder;
  width: max-content;
}

.subtitle {
  font-size: medium;
  font-weight: bold;
  width: max-content; 
}

.frame img {
  width: 70vw;
  height: 30vh;
}

.quote-container {
  background-color: #525252;
  border-radius: 0.5rem;
  width: max-content;
  height: max-content;
  padding: 3vh;
  padding-top: 0;
}

.quote {
  font-size: xx-large;
  font-weight: bold;
}

.quote-ref {
  float: left;
  font-style: italic;
  text-decoration: none;
  color: #b1922d;
  font-size: large;
}

.languages-bar {
  display: flex;
}

.language-btn {
  background-color: transparent;
  border-color: transparent;
  color: #ecc953;
  transition: 0.3s;
  padding: 0.3rem;
  width: 100%;
  font-size: large;
}

.active-language-btn {
  border-color: transparent;
  background-color: #3d3d3d;
  color: #ecc953;
  border-bottom-color: #ecc953;
  padding: 0.3rem;
  width: 100%;
  font-size: large;
}

.language-btn:hover {
  background-color: #3d3d3d;
}

a:hover {
  color: #000000;
  transition: 0.3s;
}

@media screen and (max-width: 950px){
  .quote-container {
    width: 237%;
    padding: 0.2rem;
    padding-top: 0%;
    border-radius: 0.25rem;
  }

  .quote {
    font-size: larger;
  }
  
  .languages-bar {
    width: initial;
  }

  .language-btn {
    font-size: small;
  }

  .active-language-btn {
    font-size: small;
  }

  .frame img {
    width: 25vh;
  }
}