@font-face {
  font-family: "ArabicType";
  src: url("fonts/Mirza-Medium.ttf");
  unicode-range: U+0600-06FF;
}
/* Exclude Arabic numbers; AlQalamQuranMajeed doesn't support them*/
/* @font-face {
  font-family: "ArabicType";
  src: url('https://fonts.cdnfonts.com/s/29105/ARIAL.woff') format('woff');
  unicode-range: U+0660-0669;
} */

body {
  background-color: #110c11;
  font-family: "ArabicType", "Gideon Roman", cursive;
  /* font-family: "Cutive Mono", monospace; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 4px solid #ceaa37; */
  height: 90vh;
}

.frame {
  flex: 1 1 auto;
  width: 40vw;
  height: 100%;
  color: #ceaa37;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: larger;
  font-weight: bolder;
  width: max-content;
}

.subtitle {
  font-size: medium;
  font-weight: bold;
  width: max-content;
}

.frame img {
  width: 30%;
}

a:hover {
  color: #000000;
  transition: 0.3s;
}

@media screen and (max-width: 950px) {
  .language-btn {
    font-size: small;
  }

  .active-language-btn {
    font-size: small;
  }

  .frame img {
    width: 25vh;
  }
}
