.language-btn {
    background-color: transparent;
    border-color: transparent;
    color: #ecc953;
    transition: 0.3s;
    padding: 0.3rem;
    font-size: large;
}
  
.active-language-btn {
  background-color: #3d3d3d;
  border-color: transparent;
  color: #ecc953;
  transition: 0.3s;
  padding: 0.3rem;
  font-size: large;
  border-bottom-color: #ecc953;
}
  
.language-btn:hover {
  background-color: #3d3d3d;
}

.languages-bar {
  /* position: sticky;
  position: -webkit-sticky;
  top: 0; */
}