.language-btn {
    background-color: transparent;
    border-color: transparent;
    color: #ecc953;
    transition: 0.3s;
    padding: 0.3rem;
    font-size: large;
}

.language-btn:disabled {
  opacity: 0.4;
}
  
.active-language-btn {
  background-color: #2c2b2b;
  border-color: transparent;
  color: #ecc953;
  transition: 0.3s;
  padding: 0.3rem;
  font-size: large;
  border-bottom-color: #ecc953;
}
  
.language-btn:hover {
  background-color: #3d3d3d;
}

.languages-bar {
  position: sticky;
  position: -webkit-sticky;
  z-index: 50;
  background-color: #575757;
  width: 100%;
  border-radius: 0.5rem;
}

@media screen and (max-width: 800px) {
  .language-btn {
    font-size: small;
  }
  .active-language-btn {
    font-size: small;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200) {
  .language-btn {
    font-size: medium;
  }
  .active-language-btn {
    font-size: medium;
  }
}